# Default values for kommodity-cluster in Scaleway.
kommodity:
  provider:
    name: Kubevirt
    secret:
      name: kubevirt-credentials
      # Kubevirt secret example (contains a kubeconfig used to connect to the Kubevirt cluster):
      #
      # apiVersion: v1
      # kind: Secret
      # metadata:
      #   name: kubevirt-credentials
      #   namespace: <release-namespace>
      # data:
      #   kubeconfig: <base64-encoded-kubeconfig>
      # type: Opaque

    # Existing namespace in the Kubevirt cluster where the VMs will be deployed
    kubevirtClusterNamespace: kubevirt-cluster-namespace

  network:
    cluster:
      podCIDR:
        - 10.245.0.0/16 # Needs to be different from the Kubevirt cluster pod CIDR

  controlplane:
    replicas: 2
    sku: s1.medium

  nodepools:
    default:
      replicas: 1
      sku: s1.medium

      # Optional: specify GPU resources
      # gpus:
      #   default: # name to identify the device in the VM
      #     deviceName: "nvidia.com/AD102GL_L40S" # resource name representing the device

talos:
  version: v1.11.5
  imageName: https://factory.talos.dev/image/ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515/v1.11.5/openstack-amd64.raw.xz # OpenStack image with 'siderolabs/qemu-guest-agent' extension
# Configurations related to Kubernetes
kubernetes:
  version: v1.33.4
