# Default values for kommodity-cluster in Scaleway.
kommodity:
  provider:
    name: Docker

  network:
    ipv4:
      enabled: false
      public: false
    cluster:
      podCIDR:
        - 10.244.0.0/16

  security:
    enabled: false
    attestationPolicy:
      lsm:
        apparmor:
          enabled: false
        selinux:
          enabled: false
      talos:
        extensions:
          enabled: false
        version:
          enabled: false
        image:
          enabled: false
      kernel:
        pcrs:
          enabled: false
        lockdown:
          enabled: false
        secureboot:
          enabled: false
      filesystem:
        squashfs:
          enabled: false

  controlplane: {}

  nodepools:
    default: {}


# Configurations related to Talos
# Follow this documentation to generate a Talos image for Scaleway: https://www.talos.dev/v1.11/talos-guides/install/cloud-platforms/scaleway/
talos:
  version: v1.11.3

# Configurations related to Kubernetes
kubernetes:
  version: v1.33.4
