# Default values for kommodity-cluster in Scaleway.
kommodity:
  provider:
    name: Docker

  network:
    ipv4:
      enabled: false
      public: false
    cluster:
      podCIDR:
        - 10.244.0.0/16

  security:
    enabled: false
    attestationPolicy:
      apparmor:
        enabled: false
      selinux:
        enabled: false
      talosExtensions:
        enabled: false
      talosVersion:
        enabled: false
      talosImage:
        enabled: false
      pcrs:
        enabled: false
      kernelLockdown:
        enabled: false
      secureboot:
        enabled: false
      squashfs:
        enabled: false

  controlplane:
    # Configurations related to the control plane nodes
    # Using RFC6902 JSON Patch format: https://docs.siderolabs.com/talos/v1.11/configure-your-talos-cluster/system-configuration/patching#rfc6902-json-patches
    configPatches: []

  nodepools:
    default:
      # Configurations related the specific nodepool
      # Using RFC6902 JSON Patch format: https://docs.siderolabs.com/talos/v1.11/configure-your-talos-cluster/system-configuration/patching#rfc6902-json-patches
      configPatches: []

# Configurations related to Talos
# Follow this documentation to generate a Talos image for Scaleway: https://www.talos.dev/v1.11/talos-guides/install/cloud-platforms/scaleway/
talos:
  version: v1.11.3

# Configurations related to Kubernetes
kubernetes:
  version: v1.33.4
