# Example of values to create a cluster in Scaleway.
kommodity:
  provider:
    name: Scaleway
    secret:
      # Scaleway secret example:
      #
      # apiVersion: v1
      # kind: Secret
      # metadata:
      #   name: scaleway-secret
      #   namespace: default
      # data:
      #   SCW_ACCESS_KEY: <YOUR_BASE64_ENCODED_ACCESS_KEY>
      #   SCW_SECRET_KEY: <YOUR_BASE64_ENCODED_SECRET_KEY>
      #   SCW_DEFAULT_REGION: <YOUR_BASE64_ENCODED_REGION>
      #   SCW_DEFAULT_PROJECT_ID: <YOUR_BASE64_ENCODED_PROJECT_ID>
      # type: Opaque
      name: scaleway-secret
    config:
      projectID: <YOUR_PROJECT_ID_HERE>

    cloudControllerManager:
      enabled: true
      manifest: https://raw.githubusercontent.com/scaleway/scaleway-cloud-controller-manager/master/examples/k8s-scaleway-ccm-latest.yml

  global:
    configPatches:
      # Required when using a Cloud Controller Manager (https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/#running-cloud-controller-manager)
      - op: add
        path: /machine/kubelet/extraArgs
        value:
          cloud-provider: external

  network:
    ipv4:
      enabled: true
      public: true

  region: fr-par

  controlplane:
    replicas: 1
    sku: PLAY2-NANO
    os:
      disk:
        size: 20
    healthCheck:
      enabled: true
      unhealthyConditions:
        - type: Ready
          status: Unknown
          timeout: 300s
        - type: Ready
          status: "False"
          timeout: 300s

  nodepools:
    default:
      replicas: 1
      sku: PLAY2-NANO
      zone: fr-par-2 # Note: Make sure the Talos image specified below is available in this zone
      os:
        disk:
          size: 20
      labels:
        my-label: my-value
      annotations:
        my-annotation: my-annotation-value
      healthCheck:
        enabled: true
        unhealthyConditions:
          - type: Ready
            status: Unknown
            timeout: 300s
          - type: Ready
            status: "False"
            timeout: 300s

talos:
  # Follow this documentation to generate a Talos image for Scaleway: https://docs.siderolabs.com/talos/v1.10/platform-specific-installations/cloud-platforms/scaleway
  imageName: talos-base-v1.11.3
