# Default values for kommodity-cluster in Scaleway.
kommodity:
  provider:
    name: Scaleway
    secret:
      # Scaleway secret example:
      #
      # apiVersion: v1
      # kind: Secret
      # metadata:
      #   name: scaleway-secret
      #   namespace: default
      # data:
      #   SCW_ACCESS_KEY: <YOUR_BASE64_ENCODED_ACCESS_KEY>
      #   SCW_SECRET_KEY: <YOUR_BASE64_ENCODED_SECRET_KEY>
      #   SCW_DEFAULT_REGION: <YOUR_BASE64_ENCODED_REGION>
      #   SCW_DEFAULT_PROJECT_ID: <YOUR_BASE64_ENCODED_PROJECT_ID>
      # type: Opaque
      name: scaleway-secret
    config:
      projectID: <YOUR_PROJECT_ID_HERE>
    
    cloudControllerManager:
      enabled: true
      manifest: https://raw.githubusercontent.com/scaleway/scaleway-cloud-controller-manager/master/examples/k8s-scaleway-ccm-latest.yml

  network:
    ipv4:
      enabled: true
      public: true

  region: fr-par

  controlplane:
    replicas: 1
    sku: PLAY2-NANO
    os:
      disk:
        size: 20

  nodepools:
    default:
      replicas: 1
      sku: PLAY2-NANO
      zone: fr-par-2 # Note: Make sure the Talos image specified below is available in this zone
      os:
        disk:
          size: 20

talos:
  imageName: talos-base-v1.11.3
