# Default values for kommodity-cluster in Scaleway.
kommodity:
  provider:
    name: Scaleway
    secret:
      # Scaleway secret example:
      #
      # apiVersion: v1
      # kind: Secret
      # metadata:
      #   name: my-cluster-scaleway-secret
      #   namespace: default
      # data:
      #   SCW_ACCESS_KEY: <YOUR_BASE64_ENCODED_ACCESS_KEY>
      #   SCW_SECRET_KEY: <YOUR_BASE64_ENCODED_SECRET_KEY>
      # type: Opaque
      name: my-cluster-scaleway-secret
      namespace: default
    config:
      projectID: <YOUR_PROJECT_ID_HERE>

  region: fr-par

  controlplane:
    replicas: 1
    sku: PLAY2-NANO
    os:
      disk:
        size: 20

  nodepools:
    default:
      replicas: 1
      sku: PLAY2-NANO
      zone: fr-par-2 # Note: Make sure the Talos image specified below is available in this zone
      os:
        disk:
          size: 20

talos:
  imageName: talos-base-v1.11.3
