apiVersion: v1
kind: Config
clusters:
- name: kommodity
  cluster:
    server: {{ .BaseURL }}

users:
- name: cluster-autoscaler
  user:
    token: {{ .Token }}

contexts:
- name: cluster-autoscaler-context
  context:
    cluster: kommodity
    user: cluster-autoscaler
    namespace: {{ .Namespace }}

current-context: cluster-autoscaler-context
