apiVersion: v1
kind: Secret
metadata:
  name: {{ .ObjectMeta.Name }}
  namespace: kube-system
  labels:
    {{- range $key, $value := .ObjectMeta.Labels }}
    {{ $key }}: {{ $value }}
    {{- end }}
data:
  {{- range $key, $value := .Data }}
  {{ $key }}: {{ $value | b64encBytes }}
  {{- end }}
type: {{ .Type }}
