{{- if eq .Values.kommodity.provider.name "Scaleway" }}
{{- $zones := dict }}
{{- range $name, $np := .Values.kommodity.nodepools }}
  {{- $_ := set $zones $np.zone true }}
{{- end }}
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: ScalewayCluster
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
  annotations:
    helm.sh/resource-policy: keep # Prevent Helm from deleting the resource on uninstall, deletion will be handled by CAPI
spec:
  failureDomains:
  {{- range $zone, $_ := $zones }}
    - {{ $zone }}
  {{- end }}
  {{- if hasKey .Values.kommodity.provider.config "projectID" }}
  projectID: {{ .Values.kommodity.provider.config.projectID }}
  {{- else }}
  {{- fail "missing required projectID in kommodity.provider.config for Scaleway" -}}
  {{- end }}
  region: {{ .Values.kommodity.region }}
  scalewaySecretName: {{ .Values.kommodity.provider.secret.name }}
  {{- if and .Values.kommodity.network.ipv4.enabled (not .Values.kommodity.network.ipv4.public) }}
  network:
    privateNetwork:
      enabled: true
      subnet: {{ required "missing required nodeCIDR in kommodity.network.ipv4" .Values.kommodity.network.ipv4.nodeCIDR }}
    publicGateways:
      - type: {{ dig "publicGateway" "type" "" .Values.kommodity.network | default "VPC-GW-S" }}
        {{- if dig "publicGateway" "zone" "" .Values.kommodity.network }}
        zone: {{ .Values.kommodity.network.publicGateway.zone }}
        {{- end }}
        {{- if dig "publicGateway" "ip" "" .Values.kommodity.network }}
        ip: {{ .Values.kommodity.network.publicGateway.ip }}
        {{- end }}
  {{- end }}
{{- end }}
