{{- if eq .Values.kommodity.provider.name "Scaleway" }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: ScalewayMachineTemplate
metadata:
  name: {{ .Release.Name }}-controlplane-{{ include "kommodity-cluster.machineSpecsHash" (dict "poolValues" .Values.kommodity.controlplane "allValues" .Values) }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      commercialType: {{ .Values.kommodity.controlplane.sku }}
      image:
        name: {{ default $.Values.talos.imageName (dig "talos" "imageName" "" .Values.kommodity.controlplane) }}
      {{- if .Values.kommodity.network.ipv4.public }}
      publicNetwork:
        enableIPv4: {{ .Values.kommodity.network.ipv4.enabled }}
      {{- end }}
      rootVolume:
        size: {{ .Values.kommodity.controlplane.os.disk.size }}
        type: block

{{- range $name, $np := .Values.kommodity.nodepools }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: ScalewayMachineTemplate
metadata:
  name: {{ $.Release.Name }}-worker-{{ $name }}-{{ include "kommodity-cluster.machineSpecsHash" (dict "poolValues" $np "allValues" $.Values) }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      commercialType: {{ $np.sku }}
      image:
        name: {{ default $.Values.talos.imageName (dig "talos" "imageName" "" $np) }}
      {{- if $.Values.kommodity.network.ipv4.public }}
      publicNetwork:
        enableIPv4: {{ $.Values.kommodity.network.ipv4.enabled }}
      {{- end }}
      rootVolume:
        size: {{ $np.os.disk.size }}
        type: block
{{- end }}
{{- end }}
