{{- if .Values.kommodity.security.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-attestation-policy
  namespace: kommodity-system
  labels:
    cluster.x-k8s.io/cluster-name: {{ .Release.Name }}
    app.kubernetes.io/managed-by: kommodity
data:
  report: |
{{ toYaml .Values.kommodity.security.attestationPolicy | indent 4 }}
{{- end }}
