{{- $extraSecrets := .Values.kommodity.extraSecrets }}
{{- if $extraSecrets }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-kommodity-extra-secrets
  labels:
    cluster.x-k8s.io/cluster-name: {{ .Release.Name }}
    app.kubernetes.io/managed-by: kommodity
    cluster.x-k8s.io/watch-filter: kommodity-extra-secrets-controller
stringData:
{{- range $namespace, $secrets := $extraSecrets }}
{{- range $secretName, $secret := $secrets }}
{{- $type := (default "Opaque" $secret.type) }}
{{- $hasData := $secret.data }}
{{- $hasStringData := $secret.stringData }}
{{- if and $hasData $hasStringData }}
{{- fail (printf "Secret '%s' in namespace '%s' cannot have both 'data' and 'stringData' defined" $secretName $namespace) }}
{{- else }}
{{- $secretNamespaceName := printf "%s-%s" $namespace $secretName }}
  {{ $secretNamespaceName }}: |
    apiVersion: v1
    kind: Secret
    metadata:
      name: {{ $secretName }}
      namespace: {{ $namespace }}
      labels:
        cluster.x-k8s.io/cluster-name: {{ $.Release.Name }}
        app.kubernetes.io/managed-by: kommodity
        {{- with $secret.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    type: {{ $type }}
    {{- if $hasData }}
    data:
    {{- range $key, $value := $secret.data }}
      {{ $key }}: {{ $value | b64enc }}
    {{- end }}
    {{- else if $hasStringData }}
    stringData:
    {{- range $key, $value := $secret.stringData }}
      {{ $key }}: {{ $value }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
