{{- if eq .Values.kommodity.provider.name "Kubevirt" }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: KubevirtMachineTemplate
metadata:
  name: {{ .Release.Name }}-controlplane
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      virtualMachineBootstrapCheck:
        checkStrategy: none
      virtualMachineTemplate:
        metadata:
          namespace: {{ .Values.kommodity.provider.kubevirtClusterNamespace }}
        spec:
          runStrategy: Always
          template:
            spec:
              domain:
                cpu:
                  cores: {{ .Values.kommodity.controlplane.cores }}
                memory:
                  guest: {{ .Values.kommodity.controlplane.memory }}
                devices:
                  networkInterfaceMultiqueue: true
                  disks:
                    - disk:
                        bus: virtio
                      name: containervolume
              evictionStrategy: External
              volumes:
                - containerDisk:
                    image: {{ .Values.talos.containerImage }}
                  name: containervolume

{{- range $name, $np := .Values.kommodity.nodepools }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: KubevirtMachineTemplate
metadata:
  name: {{ $.Release.Name }}-worker-{{ $name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      virtualMachineBootstrapCheck:
        checkStrategy: none
      virtualMachineTemplate:
        metadata:
          namespace: {{ $.Values.kommodity.provider.kubevirtClusterNamespace }}
        spec:
          runStrategy: Always
          template:
            spec:
              domain:
                cpu:
                  cores: {{ $np.cores }}
                memory:
                  guest: {{ $np.memory }}
                devices:
                  {{- if $np.gpus }}
                  gpus:
                    - name: {{ $np.gpus.name }}
                      deviceName: {{ $np.gpus.deviceName }}
                  {{- end }}
                  networkInterfaceMultiqueue: true
                  disks:
                    - disk:
                        bus: virtio
                      name: containervolume
              evictionStrategy: External
              volumes:
                - containerDisk:
                    image: {{ $.Values.talos.containerImage }}
                  name: containervolume
{{- end }}
{{- end }}
