{{- if eq .Values.kommodity.provider.name "Kubevirt" }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: KubevirtMachineTemplate
metadata:
  name: {{ .Release.Name }}-controlplane
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      virtualMachineBootstrapCheck:
        checkStrategy: none
      virtualMachineTemplate:
        metadata:
          namespace: {{ .Values.kommodity.provider.config.infraClusterNamespace }}
        spec:
          dataVolumeTemplates:
            - metadata:
                name: boot-volume
                namespace: {{ $.Values.kommodity.provider.config.infraClusterNamespace }}
              spec:
                pvc:
                  resources:
                    requests:
                      storage: {{ .Values.kommodity.controlplane.os.disk.size }}Gi
                  accessModes:
                    - ReadWriteOnce
                  {{- if hasKey .Values.kommodity.provider.config "storageClassName" }}
                  storageClassName: {{ .Values.kommodity.provider.config.storageClassName }}
                  {{- end }}
                source:
                  http:
                    {{- if and (hasKey .Values.kommodity.controlplane "talos") (hasKey .Values.kommodity.controlplane.talos "imageName") }}
                    url: {{ $.Values.kommodity.controlplane.talos.imageName }}
                    {{- else }}
                    url: {{ $.Values.talos.imageName }}
                    {{- end }}
          instancetype:
            name: {{ .Values.kommodity.controlplane.sku }}
            kind: VirtualMachineClusterInstancetype
          runStrategy: Always
          template:
            spec:
              domain:
                devices:
                  networkInterfaceMultiqueue: true
                  disks:
                    - disk:
                        bus: virtio
                      name: dv-volume
              evictionStrategy: External
              volumes:
                - dataVolume:
                    name: boot-volume
                  name: dv-volume

{{- range $name, $np := .Values.kommodity.nodepools }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: KubevirtMachineTemplate
metadata:
  name: {{ $.Release.Name }}-worker-{{ $name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      virtualMachineBootstrapCheck:
        checkStrategy: none
      virtualMachineTemplate:
        metadata:
          namespace: {{ $.Values.kommodity.provider.config.infraClusterNamespace }}
        spec:
          dataVolumeTemplates:
            - metadata:
                name: boot-volume
                namespace: {{ $.Values.kommodity.provider.config.infraClusterNamespace }}
              spec:
                pvc:
                  resources:
                    requests:
                      storage: {{ $np.os.disk.size }}Gi
                  accessModes:
                    - ReadWriteOnce
                  {{- if hasKey $.Values.kommodity.provider.config "storageClassName" }}
                  storageClassName: {{ $.Values.kommodity.provider.config.storageClassName }}
                  {{- end }}
                source:
                  http:
                    {{- if and (hasKey $np "talos") (hasKey $np.talos "imageName") }}
                    url: {{ $np.talos.imageName }}
                    {{- else }}
                    url: {{ $.Values.talos.imageName }}
                    {{- end }}
          instancetype: 
            name: {{ $np.sku }}
            kind: VirtualMachineClusterInstancetype
          runStrategy: Always
          template:
            spec:
              domain:
                devices:
                  {{- if $np.gpus }}
                  gpus:
                  {{- range $name, $gpu := $np.gpus }}
                    - name: {{ $name }}
                      deviceName: {{ $gpu.deviceName }}
                  {{- end }}
                  {{- end }}
                  networkInterfaceMultiqueue: true
                  disks:
                    - disk:
                        bus: virtio
                      name: dv-volume
              evictionStrategy: External
              volumes:
                - dataVolume:
                    name: boot-volume
                  name: dv-volume
{{- end }}
{{- end }}
