{{- if eq .Values.kommodity.provider.name "Kubevirt" }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: KubevirtMachineTemplate
metadata:
  name: {{ .Release.Name }}-controlplane
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      virtualMachineBootstrapCheck:
        checkStrategy: none
      virtualMachineTemplate:
        metadata:
          namespace: {{ .Values.kommodity.provider.kubevirtClusterNamespace }}
        spec:
          dataVolumeTemplates:
            - metadata:
                name: boot-volume
                namespace: {{ $.Values.kommodity.provider.kubevirtClusterNamespace }}
              spec:
                pvc:
                  resources:
                    requests:
                      storage: 20Gi
                  accessModes:
                    - ReadWriteOnce
                source:
                  http:
                    url: https://factory.talos.dev/image/ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515/v1.11.5/openstack-amd64.raw.xz
                  # registry:
                  #   pullMethod: node
                  #   url: docker://{{ $.Values.talos.containerImage }}
          instancetype:
            name: {{ .Values.kommodity.controlplane.sku }}
            kind: VirtualMachineClusterInstancetype
          runStrategy: Always
          template:
            spec:
              domain:
                devices:
                  networkInterfaceMultiqueue: true
                  disks:
                    - disk:
                        bus: virtio
                      name: dv-volume
              evictionStrategy: External
              volumes:
                - dataVolume:
                    name: boot-volume
                  name: dv-volume

{{- range $name, $np := .Values.kommodity.nodepools }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: KubevirtMachineTemplate
metadata:
  name: {{ $.Release.Name }}-worker-{{ $name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      virtualMachineBootstrapCheck:
        checkStrategy: none
      virtualMachineTemplate:
        metadata:
          namespace: {{ $.Values.kommodity.provider.kubevirtClusterNamespace }}
        spec:
          dataVolumeTemplates:
            - metadata:
                name: boot-volume
                namespace: {{ $.Values.kommodity.provider.kubevirtClusterNamespace }}
              spec:
                pvc:
                  resources:
                    requests:
                      storage: 20Gi
                  accessModes:
                    - ReadWriteOnce
                source:
                  http:
                    url: https://factory.talos.dev/image/ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515/v1.11.5/openstack-amd64.raw.xz
                  # registry:
                  #   pullMethod: node
                  #   url: docker://{{ $.Values.talos.containerImage }}
          instancetype: 
            name: {{ $np.sku }}
            kind: VirtualMachineClusterInstancetype
          runStrategy: Always
          template:
            spec:
              domain:
                devices:
                  {{- if $np.gpus }}
                  gpus:
                  {{- range $name, $gpu := $np.gpus }}
                    - name: {{ $name }}
                      deviceName: {{ $gpu.deviceName }}
                  {{- end }}
                  {{- end }}
                  networkInterfaceMultiqueue: true
                  disks:
                    - disk:
                        bus: virtio
                      name: dv-volume
              evictionStrategy: External
              volumes:
                - dataVolume:
                    name: boot-volume
                  name: dv-volume
{{- end }}
{{- end }}
