apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
      {{- range $cidr := .Values.kommodity.network.cluster.podCIDR }}
        - {{ $cidr }}
      {{- end }}
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
    kind: TalosControlPlane
    name: {{ .Release.Name }}-controlplane-{{ include "kommodity-cluster.configPatchesHash" (dict "configPatches" .Values.kommodity.controlplane.configPatches "globalConfigPatches" .Values.kommodity.global.configPatches) }}
    namespace: {{ .Release.Namespace }}
  infrastructureRef:
    {{- if not .Values.kommodity.provider.name }}
    {{- fail "kommodity.provider.name must be set in values.yaml" -}}
    {{- else if eq .Values.kommodity.provider.name "Docker" }}
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: DockerCluster
    {{- else if eq .Values.kommodity.provider.name "Scaleway" }}
    apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
    kind: ScalewayCluster
    {{- else if eq .Values.kommodity.provider.name "Kubevirt" }}
    apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
    kind: KubevirtCluster
    {{- else }}
    {{- fail "infrastructure provider is not supported" -}}
    {{- end }}
    name: {{ .Release.Name }}
    namespace: {{ .Release.Namespace }}
