{{- if dig "controlplane" "healthCheck" "enabled" "" .Values.kommodity }}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineHealthCheck
metadata:
  name: {{ $.Release.Name }}-controlplane
  namespace: {{ $.Release.Namespace }}
spec:
  clusterName: {{ $.Release.Name }}
  maxUnhealthy: {{ dig "healthCheck" "maxUnhealthy" "" $.Values.kommodity.controlplane | default "40%" }}
  nodeStartupTimeout: {{ dig "healthCheck" "nodeStartupTimeout" "" $.Values.kommodity.controlplane | default "10m0s" }}
  selector:
    matchLabels:
      cluster.x-k8s.io/control-plane: ""
  unhealthyConditions:
  {{- if not .Values.kommodity.controlplane.healthCheck.unhealthyConditions }}
    {{- fail "MachineHealthCheck for controlplane is enabled but no unhealthyConditions are defined in values" }}
  {{- end }}
  {{- toYaml .Values.kommodity.controlplane.healthCheck.unhealthyConditions | nindent 2 }}
{{- end }}
{{- range $name, $np := .Values.kommodity.nodepools }}
{{- if dig "healthCheck" "enabled" "" $np }}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineHealthCheck
metadata:
  name: {{ $.Release.Name }}-worker-{{ $name }}
  namespace: {{ $.Release.Namespace }}
spec:
  clusterName: {{ $.Release.Name }}
  maxUnhealthy: {{ dig "healthCheck" "maxUnhealthy" "" $np | default "40%" }}
  nodeStartupTimeout: {{ dig "healthCheck" "nodeStartupTimeout" "" $np | default "10m0s" }}
  selector:
    matchLabels:
      cluster.x-k8s.io/deployment-name: {{ $.Release.Name }}-worker-{{ $name }}
  unhealthyConditions:
  {{- if not $np.healthCheck.unhealthyConditions }}
    {{- fail (printf "MachineHealthCheck for nodepool '%s' is enabled but no unhealthyConditions are defined in values" $name) }}
  {{- end }}
  {{- toYaml $np.healthCheck.unhealthyConditions | nindent 2 }}
{{- end }}
{{- end }}
