{{- define "kommodity.addon.installer" -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .addon }}-install
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: {{ .addon }}-install
  namespace: kommodity-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .addon }}-install
  namespace: kommodity-system
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .addon }}-install
  namespace: kommodity-system
spec:
  backoffLimit: 10
  ttlSecondsAfterFinished: 3600
  template:
    metadata:
      labels:
        kommodity.io/addon: {{ .addon }}
        app: {{ .addon }}-install
    spec:
      restartPolicy: OnFailure
      tolerations:
        - operator: Exists
        - effect: NoSchedule
          operator: Exists
        - effect: NoExecute
          operator: Exists
        - effect: PreferNoSchedule
          operator: Exists
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoExecute
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: PreferNoSchedule
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: Exists
      serviceAccount: {{ .addon }}-install
      serviceAccountName: {{ .addon }}-install
      hostNetwork: true
      containers:
        - name: {{ .addon }}-install
          image: alpine/helm:3.19.0
          env:
            - name: KUBERNETES_SERVICE_HOST
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
            - name: KUBERNETES_SERVICE_PORT
              value: "6443"
          command:
            - /bin/sh
            - -c
            - helm upgrade --install {{ .addon }} {{ .chart }} --namespace kommodity-system --version {{ .version }}
{{- end }}
