apiVersion: v1
kind: Config
clusters:
{{- range $name, $c := .Clusters }}
  - name: {{ $name }}
    cluster:
      server: {{ $c.Server }}
      {{- if $c.InsecureSkipTLSVerify }}
      insecure-skip-tls-verify: true
      {{- else }}
      {{- if $c.CertificateAuthorityData }}
      certificate-authority-data: {{ $c.CertificateAuthorityData | b64encBytes }}
      {{- end }}
{{- end }}
contexts:
{{- range $name, $ctx := .Contexts }}
  - name: {{ $name | replace "admin" "oidc" }}
    context:
      cluster: {{ $ctx.Cluster }}
      namespace: {{ $ctx.Namespace }}
      user: oidc
{{- end }}
current-context: {{ .CurrentContext | replace "admin" "oidc" }}
preferences: {}
users:
  {{- if $.OIDCConfig }}
  - name: oidc
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1
        command: kubectl
        args:
          - oidc-login
          - get-token
          - --oidc-issuer-url={{ $.OIDCConfig.IssuerURL }}
          - --oidc-client-id={{ $.OIDCConfig.ClientID }}
          - --oidc-extra-scope={{ $.OIDCConfig.UsernameClaim }}
          {{- if $.OIDCConfig.ExtraScopes }}
          {{- range $.OIDCConfig.ExtraScopes }}
          - --oidc-extra-scope={{ . }}
          {{- end }}
          {{- end }}
        interactiveMode: Always
  {{- end }}
