apiVersion: v1
kind: Config
clusters:
  - name: kommodity
    cluster:
      server: {{ $.BaseURL }}
      insecure-skip-tls-verify: true
contexts:
  - name: kommodity
    context:
      cluster: kommodity
      {{- if $.OIDCConfig }}
      user: oidc
      {{- else }}
      user: admin
      {{- end }}
current-context: kommodity
preferences: {}
users:
  {{- if $.OIDCConfig }}
  - name: oidc
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1
        command: kubectl
        args:
          - oidc-login
          - get-token
          - --oidc-issuer-url={{ $.OIDCConfig.IssuerURL }}
          - --oidc-client-id={{ $.OIDCConfig.ClientID }}
          - --oidc-extra-scope={{ $.OIDCConfig.UsernameClaim }}
          {{- if $.OIDCConfig.ExtraScopes }}
          {{- range $.OIDCConfig.ExtraScopes }}
          - --oidc-extra-scope={{ . }}
          {{- end }}
          {{- end }}
        interactiveMode: Always
  {{- else }}
  - name: admin
    user:
      username: admin
      password: admin
  {{- end }}
