apiVersion: v1
kind: Config
clusters:
  - name: {{ $.InstanceName }}
    cluster:
      server: {{ $.BaseURL }}
      {{- if $.InsecureSkipTLSVerify }}
      insecure-skip-tls-verify: true
      {{- end }}
contexts:
  - name: {{ $.InstanceName }}
    context:
      cluster: {{ $.InstanceName }}
      {{- if $.OIDCConfig }}
      user: oidc-{{ $.InstanceName }}
      {{- else }}
      user: admin-{{ $.InstanceName }}
      {{- end }}
      namespace: default
current-context: {{ $.InstanceName }}
preferences: {}
users:
  {{- if $.OIDCConfig }}
  - name: oidc-{{ $.InstanceName }}
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1
        command: kubectl
        args:
          - oidc-login
          - get-token
          - --oidc-issuer-url={{ $.OIDCConfig.IssuerURL }}
          - --oidc-client-id={{ $.OIDCConfig.ClientID }}
          {{- range $.OIDCConfig.ClientExtraFlags }}
          - {{ . | quote }}
          {{- end }}
        interactiveMode: IfAvailable
  {{- else }}
  - name: admin-{{ $.InstanceName }}
    user:
      username: admin
      password: admin
  {{- end }}
