{{- range $name, $np := .Values.kommodity.nodepools }}
---
apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: TalosConfigTemplate
metadata:
  name: {{ $.Release.Name }}-worker-{{ $name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      generateType: worker
      talosVersion: {{ include "kommodity.talosVersion" $ }}
      {{- if and $np.configPatches (gt (len $np.configPatches) 0) }}
      configPatches:
{{- toYaml $np.configPatches | nindent 8 }}
      {{- end }}
{{- end }}
