{{- range $name, $np := .Values.kommodity.nodepools }}
---
apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: TalosConfigTemplate
metadata:
  name: {{ $.Release.Name }}-worker-{{ $name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      generateType: worker
      talosVersion: {{ include "kommodity.talosVersion" $ }}
      {{- $hasNpConfigPatches := and $np.configPatches (gt (len $np.configPatches) 0) }}
      {{- $hasGlobalConfigPatches := and $.Values.kommodity.global.configPatches (gt (len $.Values.kommodity.global.configPatches) 0) }}
      {{- if or $hasNpConfigPatches $hasGlobalConfigPatches }}
      configPatches:
      {{- end }}
      {{- if $hasGlobalConfigPatches }}
{{- toYaml $.Values.kommodity.global.configPatches | nindent 8 }}
      {{- end }}
      {{- if $hasNpConfigPatches }}
{{- toYaml $np.configPatches | nindent 8 }}
      {{- end }}
{{- end }}
