{{- range $name, $np := .Values.kommodity.nodepools }}
---
apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
kind: TalosConfigTemplate
metadata:
  name: {{ $.Release.Name }}-worker-{{ $name }}-{{ include "kommodity-cluster.configPatchesHash" (dict "configPatches" $np.configPatches "globalConfigPatches" $.Values.kommodity.global.configPatches) }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: kommodity
spec:
  template:
    spec:
      generateType: worker
      {{- if and (hasKey $np "talos") (hasKey $np.talos "version") }}
      talosVersion: {{ $np.talos.version }}
      {{- else }}
      talosVersion: {{ include "kommodity.talosVersion" $ }}
      {{- end }}
      {{- $hasNpConfigPatches := and $np.configPatches (gt (len $np.configPatches) 0) }}
      {{- $hasGlobalConfigPatches := and $.Values.kommodity.global.configPatches (gt (len $.Values.kommodity.global.configPatches) 0) }}
      {{- if or $hasNpConfigPatches $hasGlobalConfigPatches }}
      configPatches:
      {{- end }}
      {{- if $hasGlobalConfigPatches }}
{{- toYaml $.Values.kommodity.global.configPatches | nindent 8 }}
      {{- end }}
      {{- if $hasNpConfigPatches }}
{{- toYaml $np.configPatches | nindent 8 }}
      {{- end }}
      {{- if $.Values.kommodity.kms.enabled }}
      {{- /* Use VolumeConfig for disk encryption (Talos v1.12+) instead of deprecated machine.systemDiskEncryption */}}
      strategicPatches:
{{- include "kommodity.talos.volumeEncryption" (dict "endpoint" $.Values.kommodity.kms.endpoint) | nindent 8 }}
      {{- end }}
{{- end }}
