{{- define "kommodity.gpuConfigs.kernel" -}}
{{- /* Enable the NVIDIA OSS modules (https://docs.siderolabs.com/talos/v1.12/configure-your-talos-cluster/hardware-and-drivers/nvidia-gpu#enabling-the-nvidia-oss-modules) */ -}}
{{- $modules := list
  (dict "name" "nvidia")
  (dict "name" "nvidia_uvm")
  (dict "name" "nvidia_drm")
  (dict "name" "nvidia_modeset")
-}}
{{- dict "modules" $modules | toJson -}}
{{- end -}}
{{- define "kommodity.gpuConfigs.sysctls" -}}
{{- dict "net.core.bpf_jit_harden" 1 | toJson -}}
{{- end -}}
{{- define "kommodity.gpuConfigs.files" -}}
{{- /* Set the default runtime class as nvidia */ -}}
{{- $content := `[plugins]
  [plugins."io.containerd.cri.v1.runtime"]
    [plugins."io.containerd.cri.v1.runtime".containerd]
      default_runtime_name = "nvidia"
` -}}
{{- $file := dict "content" $content "path" "/etc/cri/conf.d/20-customization.part" "op" "create" -}}
{{- dict "items" (list $file) | toJson -}}
{{- end -}}
