{{/*
Configure Talos installer image and bundled extensions.
Sets the machine.install.image to use a custom installer image with extensions.
If autoBootstrap is configured, also sets the environment variables for the extension.
See: https://docs.siderolabs.com/talos/v1.12/reference/configuration/v1alpha1/config#install
*/}}
{{- define "kommodity.talos.installer" -}}
{{- $installer := .installer -}}
- op: add
  path: /machine/install/image
  value: {{ $installer.repository }}/{{ $installer.imageName }}
{{- if $installer.autoBootstrap }}
- op: add
  path: /machine/env
  value:
    TALOS_AUTO_BOOTSTRAP_LOG_LEVEL: {{ $installer.autoBootstrap.logLevel }}
    TALOS_AUTO_BOOTSTRAP_SCAN_INTERVAL: {{ $installer.autoBootstrap.scanInterval }}
    TALOS_AUTO_BOOTSTRAP_QUORUM_NODES: {{ $installer.autoBootstrap.quorumNodes | quote }}
    TALOS_AUTO_BOOTSTRAP_PRE_BOOTSTRAP_DELAY: {{ $installer.autoBootstrap.preBootstrapDelay }}
    TALOS_AUTO_BOOTSTRAP_MAX_BACKOFF: {{ $installer.autoBootstrap.maxBackoff }}
    TALOS_AUTO_BOOTSTRAP_SCAN_TIMEOUT: {{ $installer.autoBootstrap.scanTimeout }}
{{- end }}
{{- end -}}